/**
 *------
 * Bonsai implementation : © Copyright 2024, Philip Davis (mrphilipadavis AT gmail)
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 */

#page-content {
    /*
        Force this to be an offsetParent because we temporarily elevate child
        elements here while we're animating their position.
    */
    position: relative;
}

/* Change to BGA element to allow our @container queries to work */
#game_play_area {
    container-type: inline-size;
}

#bon_surface {
    position: relative;
}


/* Player Stats */

.bon_player-summary .bon_stats {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: stretch;
}

.bon_player-summary-stat-block {
    margin: .5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: .5em;
}
.bon_player-summary-stat-block.bon_zero {
    opacity: .25;
}

.bon_player-summary-goals {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: .125em;
    flex-wrap: wrap;
}

.bon_player-summary .bon_goal {
    display: inline-block;
    background-image: url(img/bon_goals.png);
    background-repeat: no-repeat;
    background-size: 10.61em 10em;
    height: 2em;
    vertical-align: middle;
    margin-left: .25em;
}
.bon_player-summary .bon_goal-3,
.bon_player-summary .bon_goal-6,
.bon_player-summary .bon_goal-9,
.bon_player-summary .bon_goal-12,
.bon_player-summary .bon_goal-15 {
    width: 4.25425em;
    background-position-x: 0;
}
.bon_player-summary .bon_goal-2,
.bon_player-summary .bon_goal-5,
.bon_player-summary .bon_goal-8,
.bon_player-summary .bon_goal-11,
.bon_player-summary .bon_goal-14 {
    width: 3.3515em;
    background-position-x: -4.25425em;
}
.bon_player-summary .bon_goal-1,
.bon_player-summary .bon_goal-4,
.bon_player-summary .bon_goal-7,
.bon_player-summary .bon_goal-10,
.bon_player-summary .bon_goal-13 {
    width: 3.00425em;
    background-position-x: -7.60575em;
}
.bon_player-summary .bon_goal-3,
.bon_player-summary .bon_goal-2,
.bon_player-summary .bon_goal-1 {
    background-position-y: 0em;
}
.bon_player-summary .bon_goal-6,
.bon_player-summary .bon_goal-5,
.bon_player-summary .bon_goal-4 {
    background-position-y: -2em;
}
.bon_player-summary .bon_goal-9,
.bon_player-summary .bon_goal-8,
.bon_player-summary .bon_goal-7 {
    background-position-y: -4em;
}
.bon_player-summary .bon_goal-12,
.bon_player-summary .bon_goal-11,
.bon_player-summary .bon_goal-10 {
    background-position-y: -6em;
}
.bon_player-summary .bon_goal-15,
.bon_player-summary .bon_goal-14,
.bon_player-summary .bon_goal-13 {
    background-position-y: -8em;
}

.bon_player-summary .bon_goal:has(.bon_renounced) {
    position: relative;
    filter: brightness(90%) saturate(50%);
    opacity: .66 !important;
}
.bon_player-summary .bon_goal .bon_renounced {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #222;
}


/* Summary icons */

.bon_icon {
    display: inline-block;
    background-image: url(img/bon_tiles.png);
    background-repeat: no-repeat;
    background-position-y: 0;
    background-size: cover;
    height: 2em;
    width: 1.75em;
}
.bon_icon-wood   { background-position-x:     0em; }
.bon_icon-leaf   { background-position-x: -1.75em; }
.bon_icon-flower { background-position-x: -3.50em; }
.bon_icon-fruit  { background-position-x: -5.25em; }

.bon_icon-capacity {
    display: inline-block;
    background-image: url(img/bon_pot.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 1.62em;
    width: 2.63em;
    margin-top: .25em;
}


/* Game Board */

#bon_board {
    position: relative;
    background-image: url(img/bon_board.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 9.75em;
    width: 27.8em;
    transform-origin: top left;
    background-repeat: no-repeat;
    border: solid .1em rgba(0,0,0,.3);
    border-radius: .75em;
    margin: 2em auto 0 auto;
    clear: both;
    box-shadow: 0.2em 0.2em 0.3em rgba(0, 0, 0, .2);
}

#bon_deck {
    position: absolute;
    width: 4.66em;
    height: 6.5em;
    top: 1.05em;
    left: 1.05em;
    perspective: 10em;
}
#bon_deck > * {
    position: absolute;
}
#bon_deck :nth-child(1) { left:   0rem; top:   0rem; }
#bon_deck :nth-child(2) { left: -.1rem; top: -.1rem; }
#bon_deck :nth-child(3) { left: -.2rem; top: -.2rem; }
#bon_deck :nth-child(4) { left: -.3rem; top: -.3rem; }
#bon_deck :nth-child(5) { left: -.4rem; top: -.4rem; }
#bon_deck :nth-child(6) { left: -.5rem; top: -.5rem; }
#bon_deck :nth-child(7) { left: -.6rem; top: -.6rem; }
#bon_deck :nth-child(8) { left: -.7rem; top: -.7rem; }
#bon_deck :nth-child(9) { left: -.8rem; top: -.8rem; }
#bon_deck :nth-child(10) { left: -.9rem; top: -.9rem; }
#bon_deck :nth-child(11) { left: -1.0rem; top: -1.0rem; }
#bon_deck :nth-child(12) { left: -1.1rem; top: -1.1rem; }
#bon_deck :nth-child(13) { left: -1.2rem; top: -1.2rem; }
#bon_deck :nth-child(14) { left: -1.3rem; top: -1.3rem; }

#bon_deck-count {
    width: 4.66rem;
    height: 6.5rem;
    opacity: 0;
    transition: opacity 1s ease-out;
    pointer-events: none;
}
.bon_pref-i-cant-function-without-a-deck-count #bon_deck-count {
    opacity: 1;
}
#bon_deck-count::before {
    position: absolute;
    left: calc(50% - 1.5rem);
    top: calc(50% - 1.5rem);
    width: 3rem;
    height: 3rem;
    border-radius: 2rem;
    background-color: #fff;
    opacity: 1.75;
    content: ' ';
    filter: blur(0.5rem);
}
#bon_deck-count::after {
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 2em;
    text-align: center;
    line-height: 6.5rem;
    content: attr(data-count);
}

.bon_slot {
    position: absolute;
    width: 4.66em;
    height: 6.5em;
    top: 1em;
    perspective: 10em;
}
.bon_slot .bon_card {
    position: absolute;
}
.bon_state-playerTurn .bon_slot:has(.bon_card),
.bon_state-client_meditate .bon_slot:has(.bon_card) {
    cursor: pointer;
}
#bon_slot-0 {
    left: 6.95em;
}
#bon_slot-1 {
    left: 11.95em;
}
#bon_slot-2 {
    left: 16.95em;
}
#bon_slot-3 {
    left: 21.95em;
}

.bon_state-playerTurn .bon_slot:has(.bon_card)::after,
.bon_state-client_meditate .bon_slot:has(.bon_card)::after {
    display: inline-block;
    position: absolute;
    left: -.2em;
    top: -.2em;
    width: calc(100% + .1em);
    height: calc(100% + .1em);
    content: ' ';
    border: dashed .2em rgba(0, 0, 0, .8);
    border-radius: .75em;
}
.bon_state-playerTurn .bon_slot:has(.bon_card):hover::after,
.bon_state-client_meditate .bon_slot:has(.bon_card):hover::after {
    background-color: rgba(255, 255, 255, .2);
}

.bon_slot-info {
    position: absolute;
    top: 7.7em;
    height: 1.6em;
}
.bon_slot-info::after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: ' ';
    background-color: #fff;
    opacity: 0;
    transition: opacity .1s ease-out;
}
.bon_slot-info:hover::after {
    opacity: .2;
}
#bon_slot-0-info {
    left: 7.6em;
    width: 3.4em;
}
#bon_slot-1-info {
    left: 12.6em;
    width: 3.4em;
}
#bon_slot-2-info {
    left: 17.6em;
    width: 3.4em;
}
#bon_slot-3-info {
    left: 22.6em;
    width: 3.4em;
}


/* Cards */

.bon_card {
    width: 4.66em;
    height: 6.5em;
    transform-style: preserve-3d;
    border-radius: .5em;
    transition: transform .2s ease-out;
}
.bon_card-face {
}
.bon_card-back {
    background-position: 0 0;
}
.bon_card > div {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url(img/bon_cards.png);
    background-repeat: no-repeat;
    background-size: 41.94em 26em;
    border-radius: .5em;
    border: solid .1em rgba(0,0,0,.3);
    backface-visibility: hidden;
}
.bon_card.bon_card-face-down {
    transform: rotateY(-180deg);
}
.bon_card-back {
    transform: rotateY(-180deg);
}

/* Tool */
.bon_card-1 .bon_card-face { background-position:  -4.66em 0em; }
.bon_card-2 .bon_card-face { background-position:  -4.66em 0em; }
.bon_card-3 .bon_card-face { background-position:  -4.66em 0em; }

/* Tool (3p) */
.bon_card-4 .bon_card-face { background-position:  -9.32em 0em; }
.bon_card-5 .bon_card-face { background-position:  -9.32em 0em; }

/* Tool (4p) */
.bon_card-6 .bon_card-face { background-position: -13.98em 0em; }

/* Wood Growth */
.bon_card-7 .bon_card-face { background-position: -18.64em 0em; }
.bon_card-8 .bon_card-face { background-position: -18.64em 0em; }

/* Wood Growth (3p) */
.bon_card-9 .bon_card-face { background-position: -23.30em 0em; }

/* Wood Growth (4p) */
.bon_card-10 .bon_card-face { background-position: -27.96em 0em; }

/* Leaf Growth */
.bon_card-11 .bon_card-face { background-position: -32.62em 0em; }
.bon_card-12 .bon_card-face { background-position: -32.62em 0em; }

/* Leaf Growth (4p) */
.bon_card-13 .bon_card-face { background-position: -37.28em 0em; }
.bon_card-14 .bon_card-face { background-position: -37.28em 0em; }

/* Flower Growth */
.bon_card-15 .bon_card-face { background-position:   0em -6.5em; }
.bon_card-16 .bon_card-face { background-position:   0em -6.5em; }

/* Flower Growth (3p) */
.bon_card-17 .bon_card-face { background-position:  -4.66em -6.5em; }

/* Fruit Growth */
.bon_card-18 .bon_card-face { background-position:  -9.32em -6.5em; }
.bon_card-19 .bon_card-face { background-position:  -9.32em -6.5em; }

/* Fruit Growth (4p) */
.bon_card-20 .bon_card-face { background-position: -13.98em -6.5em; }

/* Master */
.bon_card-21 .bon_card-face { background-position: -18.64em -6.5em; }
.bon_card-22 .bon_card-face { background-position: -18.64em -6.5em; }

.bon_card-23 .bon_card-face { background-position: -23.30em -6.5em; }

.bon_card-24 .bon_card-face { background-position:   0em -13em; }
.bon_card-25 .bon_card-face { background-position:  -9.32em -13em; }
.bon_card-26 .bon_card-face { background-position:  -9.32em -13em; }

.bon_card-27 .bon_card-face { background-position: -18.64em -13em; }

.bon_card-28 .bon_card-face { background-position: -13.98em -13em; }

.bon_card-29 .bon_card-face { background-position: -27.96em -6.5em; }

.bon_card-30 .bon_card-face { background-position: -37.28em -6.5em; }

.bon_card-31 .bon_card-face { background-position: -23.30em -13em; }

.bon_card-32 .bon_card-face { background-position: -32.62em -6.5em; }

.bon_card-33 .bon_card-face { background-position:  -4.66em -13em; }


/* Helper */
.bon_card-34 .bon_card-face { background-position: -37.28em -13em; }
.bon_card-35 .bon_card-face { background-position: -37.28em -13em; }
.bon_card-36 .bon_card-face { background-position: -37.28em -13em; }

.bon_card-37 .bon_card-face { background-position:      0em -19.5em; }
.bon_card-38 .bon_card-face { background-position:      0em -19.5em; }

.bon_card-39 .bon_card-face { background-position: -27.96em -13em; }

.bon_card-40 .bon_card-face { background-position: -32.62em -13em; }

/* Parchment */
.bon_card-41 .bon_card-face { background-position:  -13.98em -19.5em; }
.bon_card-42 .bon_card-face { background-position:  -18.64em -19.5em; }
.bon_card-43 .bon_card-face { background-position:  -4.66em -19.5em; }
.bon_card-44 .bon_card-face { background-position:  -9.32em -19.5em; } 
.bon_card-45 .bon_card-face { background-position: -32.62em -19.5em; }
.bon_card-46 .bon_card-face { background-position: -23.30em -19.5em; }
.bon_card-47 .bon_card-face { background-position: -27.96em -19.5em; }

/* Reference */
.bon_card-48 .bon_card-face { background-position: -37.28em -19.5em; }



/* Player */

.bon_player {
    position: relative;
    padding-bottom: 2em;
    margin-bottom: 2em;
}

#bon_opponents .bon_player {
    background-color: rgba(255, 255, 255, .25);
    border-radius: 1rem;
}
#bon_opponents .bon_tree-host {
    margin-top: 0em;
    padding-top: 2em
}

.bon_player-name {
    position: absolute;
    left: 1em;
    top: 1em;
}

.bon_tree-host {
    margin: 4em 0;
    min-height: 20em;
    position: relative;
    transition: height .2s ease-out;
}

.bon_tree {
    position: absolute;
    display: inline-block;
    min-height: 20em;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0px);
    transform-origin: bottom center;
    transition: bottom .2s ease-out, left .2s ease-out;
}

.bon_tiles-host {
    min-height: 5em;
    margin: 1em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5em;
    scroll-margin-bottom: 2em;
}

.bon_tiles-host .bon_tile {
    transform: none !important;
    position: relative !important;
    left: 0;
    top: 0;
    z-index: 2;
}

.bon_tiles-host .bon_tile.bon_selected::after,
.bon_tiles-host .bon_tile.bon_selectable::after {
    position: absolute;
    display: inline-block;
    content: ' ';
    left: -0.4em;
    top: -0.3em;
    width: calc(100% + 0.4em);
    height: calc(100% + 0.2em);
    border: dashed .2em rgba(0, 0, 0, .8);
    border-radius: .5em;
    background-color: rgba(255, 255, 255, 0);
}
.bon_tiles-host .bon_tile.bon_selectable::after {
    cursor: pointer;
}
.bon_tiles-host .bon_tile.bon_selectable:hover::after {
    background-color: rgba(255, 255, 255, .2);
}
.bon_state-client_meditateDiscardTiles .bon_tile.bon_selected::after,
.bon_state-client_meditateDiscardTiles .bon_tile.bon_selectable::after {
    border-color: rgba(192, 0, 0, .8);
}

.bon_tile-placeholder {
    position: relative;
    display: inline-block;
    width: 0;
    height: 5em;
}

.bon_pot {
    background-image: url(img/bon_pots.png);
    background-repeat: no-repeat;
    background-size: 42em 21.28em;
    width: 21em;
    height: 10.64em;
    position: absolute;
    bottom: 0em;
    left: 50%;
    transform: translate(-50%, 0);
}
.bon_color-grey   .bon_pot { background-position: 0em 0em; }
.bon_color-blue   .bon_pot { background-position: -21em 0em; }
.bon_color-purple .bon_pot { background-position: 0em -10.64em; }
.bon_color-red    .bon_pot { background-position: -21em -10.64em; }

.bon_tile {
    background-image: url(img/bon_tiles.png);
    background-repeat: no-repeat;
    background-position-y: 0;
    background-size: 17em 5em;
    height: 5em;
    width: 4.25em;
    transform-origin: 50% 50%;
}
.bon_tile-1 { background-position-x:    0; }
.bon_tile-2 { background-position-x: -4.25em; }
.bon_tile-3 { background-position-x: -8.5em; }
.bon_tile-4 { background-position-x: -12.75em; }

.bon_tree .bon_tile {
    left: 50%;
    top: 50%;
    position: absolute;
    z-index: 1;
}

/* TODO: rotate tiles into place */


.bon_vacancy {
    width: 4.25em;
    height: 5em;
    left: 50%;
    top: 50%;
    position: absolute;
}
.bon_vacancy path:hover {
    cursor: pointer;
    fill: rgba(255, 255, 255, .2);
}


/* Seishi */

.bon_seishi-host {
    position: relative;
}
.bon_seishi {
    position: relative;
    background-image: url(img/bon_seishis.png);
    background-repeat: no-repeat;
    background-size: 20.76em 7.9em;
    height: 7.9em;
    width: 5.19em;
    transform-origin: top left;
    background-repeat: no-repeat;
    clear: both;
    margin: 2em auto 0 auto;
    padding-bottom: 1em;
}
.bon_color-blue   .bon_seishi { background-position-x: 0em; }
.bon_color-grey   .bon_seishi { background-position-x: -5.19em; }
.bon_color-purple .bon_seishi { background-position-x: -10.38em; }
.bon_color-red    .bon_seishi { background-position-x: -15.57em; }

.bon_seishi-facedown {
    position: absolute;
    left: 4em;
    top: 0;
    width: 4.66em;
    height: 6.5em;
    background-image: url(img/bon_cards.png);
    background-repeat: no-repeat;
    background-size: 41.94em 26em;
    background-position: 0 0;
    border: solid .1em rgba(0,0,0,.3);
    border-radius: .5em;
}
#bon_player .bon_seishi-facedown {
    cursor: pointer;
}
.bon_seishi-facedown.bon_empty {
    background: none;
    border: solid .1em transparent;
    pointer-events: none;
}

.bon_seishi-facedown-tooltip .bon_card {
    display: inline-block;
}

.bon_seishi-reference {
    position: absolute;
    right: 4em;
    top: 0;
    width: 4.56em;
    height: 6.4em;
    background-image: url(img/bon_cards.png);
    background-repeat: no-repeat;
    background-size: 41.94em 26em;
    background-position: -37.4em -19.6em;
    border: solid .1em rgba(0, 0, 0, .3);
    border-radius: .5em;
}

#bon_reference-tooltip {
    display: inline-grid;
    grid-template-columns: auto auto;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
        'card text0'
        'card text1'
        'card text2'
        'card text3'
    ;
    justify-items: start;
    align-items: center;
    column-gap: 1em;
}
#bon_reference-tooltip .bon_reference-card {
    display: inline-block;
    width: 9.32em;
    height: 12.8em;
    background-image: url(img/bon_cards.png);
    background-repeat: no-repeat;
    background-size: 83.88em 52em;
    background-position: -74.6em -39.2em;
    border: solid .2em rgba(0, 0, 0, .3);
    border-radius: 1em;
    grid-area: card;
}
#bon_reference-tooltip .bon_seishi-ref-0 { grid-area: text0; }
#bon_reference-tooltip .bon_seishi-ref-1 { grid-area: text1; }
#bon_reference-tooltip .bon_seishi-ref-2 { grid-area: text2; }
#bon_reference-tooltip .bon_seishi-ref-3 { grid-area: text3; }

.bon_seishi-lhs {
    position: absolute;
    right: calc(50% + 2.25em);
    top: 0;
    width: calc(50% - 12em);
    height: 8em;
}
.bon_seishi-lhs > * {
    display: inline;
    float: right;
    margin-right: -3.3em;
    position: relative;
    right: 3.3em;
}

.bon_seishi-rhs {
    position: absolute;
    left: calc(50% + 2.1em);
    top: 0;
    width: calc(50% - 10em);
    height: 8em;
}
.bon_seishi-rhs > * {
    display: inline;
    float: left;
    margin-left: -3.3em;
    position: relative;
    left: 3.3em;
}

.bon_card-host {
    height: 8em;
    width: 4.66em;
    perspective: 10em;
}

.bon_reveal-cards {
    display: flex;
    flex-direction: row;
    gap: .25em;
    justify-content: center;
    flex-wrap: wrap;
}


/* Goals */

#bon_goals {
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2em;
    z-index: 1;
    scroll-margin-top: 10em;
    scroll-margin-left: 5em;
}
.bon_goal-set {
    display: flex;
    flex-direction: column-reverse;
    gap: .5em;
    align-items: center;
    flex-wrap: nowrap;
}
.bon_goal-set.bon_claimed .bon_goal {
    filter: brightness(90%) saturate(50%);
    opacity: .66;
}

.bon_goal-placeholder {
    height: 4em;
}

.bon_goal {
    position: relative;
    display: inline-block;
    background-image: url(img/bon_goals.png);
    background-repeat: no-repeat;
    background-size: 21.22em 20em;
    height: 4em;
    transform-origin: 50% 50%;
}
.bon_goal.bon_renounced,
.bon_goal.bon_ineligible {
        filter: brightness(90%) saturate(50%);
    opacity: .66;
}

#bon_goals .bon_goal.bon_selectable::after {
    position: absolute;
    display: inline-block;
    content: ' ';
    left: -0.4em;
    top: -0.3em;
    width: calc(100% + 0.3em);
    height: calc(100% + 0.25em);
    border: dashed .2em rgba(0, 0, 0, .8);
    border-radius: .5em;
    background-color: rgba(255, 255, 255, 0);
}
#bon_goals .bon_goal.bon_selectable::after {
    cursor: pointer;
}
#bon_goals .bon_goal.bon_selectable:hover::after {
    background-color: rgba(255, 255, 255, .2);
}

#bon_goals .bon_goal-3,
#bon_goals .bon_goal-6,
#bon_goals .bon_goal-9,
#bon_goals .bon_goal-12,
#bon_goals .bon_goal-15 {
    width: 8.5085em;
    background-position-x: 0;
}
#bon_goals .bon_goal-2,
#bon_goals .bon_goal-5,
#bon_goals .bon_goal-8,
#bon_goals .bon_goal-11,
#bon_goals .bon_goal-14 {
    width: 6.703em;
    background-position-x: -8.5085em;
}
#bon_goals .bon_goal-1,
#bon_goals .bon_goal-4,
#bon_goals .bon_goal-7,
#bon_goals .bon_goal-10,
#bon_goals .bon_goal-13 {
    width: 6.0085em;
    background-position-x: -15.2115em;
}
#bon_goals .bon_goal-3  { background-position: 0em 0em; }
#bon_goals .bon_goal-2  { background-position: -8.5085em 0em; }
#bon_goals .bon_goal-1  { background-position: -15.2115em 0em; }
#bon_goals .bon_goal-6  { background-position: 0em -4em; }
#bon_goals .bon_goal-5  { background-position: -8.5085em -4em; }
#bon_goals .bon_goal-4  { background-position: -15.2115em -4em; }
#bon_goals .bon_goal-9  { background-position: 0em -8em; }
#bon_goals .bon_goal-8  { background-position: -8.5085em -8em; }
#bon_goals .bon_goal-7  { background-position: -15.2115em -8em; }
#bon_goals .bon_goal-12 { background-position: 0em -12em; }
#bon_goals .bon_goal-11 { background-position: -8.5085em -12em; }
#bon_goals .bon_goal-10 { background-position: -15.2115em -12em; }
#bon_goals .bon_goal-15 { background-position: 0em -16em; }
#bon_goals .bon_goal-14 { background-position: -8.5085em -16em; }
#bon_goals .bon_goal-13 { background-position: -15.2115em -16em; }

.bon_tooltip {
    padding: .5em;
}
.bon_tooltip-title {
    font-size: 1.25em;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0.5em;
    border-bottom: solid .1em rgba(0, 0, 0, .3);
    padding-bottom: 0.2em;
}
.bon_tooltip-text {
    margin: 1em 0;
}
.bon_tooltip-status {
    margin-top: 1em;
    border-top: solid .1em rgba(0, 0, 0, .3);
    padding-top: 1em;
}
.bon_tooltip-warning {
    margin-top: 1.5em;
    font-size: .9em;
}
.bon_tooltip-status {
    margin-top: 1em;
    border-top: solid .1em rgba(0, 0, 0, .3);
    padding-top: 1em;
    white-space: nowrap;
}
.bon_tooltip-status .fa {
    margin-right: .5em;
}
.bon_tooltip-status .fa-lock   { color: #666; }
.bon_tooltip-status .fa-check  { color: #2a2; }
.bon_tooltip-status .fa-ban    { color: #c22; }
.bon_tooltip-status .fa-trophy { color: #eb1; }
.bon_tooltip-status .fa-close  { color: #222; }



/* Log */

.bon_log-card {
    display: inline-block;
    width: 2.33em;
    height: 3.25em;
    background-image: url(img/bon_cards.png);
    background-repeat: no-repeat;
    background-size: 20.97em 13em;
    border-radius: .5em;
    border: solid .1em rgba(0,0,0,.3);
    vertical-align: middle;
    margin-left: .25em;
}

/* Tool */
.bon_log-card-1 { background-position:  -2.33em 0em; }
.bon_log-card-2 { background-position:  -2.33em 0em; }
.bon_log-card-3 { background-position:  -2.33em 0em; }

/* Tool (3p) */
.bon_log-card-4 { background-position:  -4.66em 0em; }
.bon_log-card-5 { background-position:  -4.66em 0em; }

/* Tool (4p) */
.bon_log-card-6 { background-position: -6.99em 0em; }

/* Wood Growth */
.bon_log-card-7 { background-position: -9.32em 0em; }
.bon_log-card-8 { background-position: -9.32em 0em; }

/* Wood Growth (3p) */
.bon_log-card-9 { background-position: -11.65em 0em; }

/* Wood Growth (4p) */
.bon_log-card-10 { background-position: -13.98em 0em; }

/* Leaf Growth */
.bon_log-card-11 { background-position: -16.31em 0em; }
.bon_log-card-12 { background-position: -16.31em 0em; }

/* Leaf Growth (4p) */
.bon_log-card-13 { background-position: -18.64em 0em; }
.bon_log-card-14 { background-position: -18.64em 0em; }

/* Flower Growth */
.bon_log-card-15 { background-position:   0em -3.25em; }
.bon_log-card-16 { background-position:   0em -3.25em; }

/* Flower Growth (3p) */
.bon_log-card-17 { background-position:  -2.33em -3.25em; }

/* Fruit Growth */
.bon_log-card-18 { background-position:  -4.66em -3.25em; }
.bon_log-card-19 { background-position:  -4.66em -3.25em; }

/* Fruit Growth (4p) */
.bon_log-card-20 { background-position: -6.99em -3.25em; }

/* Master */
.bon_log-card-21 { background-position: -9.32em -3.25em; }
.bon_log-card-22 { background-position: -9.32em -3.25em; }

.bon_log-card-23 { background-position: -11.65em -3.25em; }

.bon_log-card-24 { background-position: 0em -6.5em; }
.bon_log-card-25 { background-position: -4.66em -3.25em; }
.bon_log-card-26 { background-position: -4.66em -3.25em; }

.bon_log-card-27 { background-position: -9.32em -6.5em; }

.bon_log-card-28 { background-position: -6.99em -6.5em; }

.bon_log-card-29 { background-position: -13.98em -3.25em; }

.bon_log-card-30 { background-position: -18.64em -3.25em; }

.bon_log-card-31 { background-position: -11.65em -6.5em; }

.bon_log-card-32 { background-position: -16.31em -3.25em; }

.bon_log-card-33 { background-position:  -2.33em -6.5em; } 


/* Helper */
.bon_log-card-34 { background-position: -18.64em -6.5em; }
.bon_log-card-35 { background-position: -18.64em -6.5em; }
.bon_log-card-36 { background-position: -18.64em -6.5em; }

.bon_log-card-37 { background-position:   0em -9.75em; }
.bon_log-card-38 { background-position:   0em -9.75em; }

.bon_log-card-39 { background-position: -13.98em -6.5em; }

.bon_log-card-40 { background-position: -16.31em -6.5em; }

/* Parchment */
.bon_log-card-41 { background-position:  -2.33em -9.75em; }
.bon_log-card-42 { background-position:  -4.66em -9.75em; }
.bon_log-card-43 { background-position: -6.99em -9.75em; }
.bon_log-card-44 { background-position: -9.32em -9.75em; }
.bon_log-card-45 { background-position: -11.65em -9.75em; }
.bon_log-card-46 { background-position: -13.98em -9.75em; }
.bon_log-card-47 { background-position: -16.31em -9.75em; }


/* Goal icons in the log */

.bon_log-goal {
    display: inline-block;
    background-image: url(img/bon_goals.png);
    background-repeat: no-repeat;
    background-size: 10.61em 10em;
    height: 2em;
    vertical-align: middle;
    margin-left: .25em;
}
.bon_log-goal.bon_goal-3,
.bon_log-goal.bon_goal-6,
.bon_log-goal.bon_goal-9,
.bon_log-goal.bon_goal-12,
.bon_log-goal.bon_goal-15 {
    width: 4.25425em;
    background-position-x: 0;
}
.bon_log-goal.bon_goal-2,
.bon_log-goal.bon_goal-5,
.bon_log-goal.bon_goal-8,
.bon_log-goal.bon_goal-11,
.bon_log-goal.bon_goal-14 {
    width: 3.3515em;
    background-position-x: -4.25425em;
}
.bon_log-goal.bon_goal-1,
.bon_log-goal.bon_goal-4,
.bon_log-goal.bon_goal-7,
.bon_log-goal.bon_goal-10,
.bon_log-goal.bon_goal-13 {
    width: 3.00425em;
    background-position-x: -7.60575em;
}
.bon_log-goal.bon_goal-3,
.bon_log-goal.bon_goal-2,
.bon_log-goal.bon_goal-1 {
    background-position-y: 0em;
}
.bon_log-goal.bon_goal-6,
.bon_log-goal.bon_goal-5,
.bon_log-goal.bon_goal-4 {
    background-position-y: -2em;
}
.bon_log-goal.bon_goal-9,
.bon_log-goal.bon_goal-8,
.bon_log-goal.bon_goal-7 {
    background-position-y: -4em;
}
.bon_log-goal.bon_goal-12,
.bon_log-goal.bon_goal-11,
.bon_log-goal.bon_goal-10 {
    background-position-y: -6em;
}
.bon_log-goal.bon_goal-15,
.bon_log-goal.bon_goal-14,
.bon_log-goal.bon_goal-13 {
    background-position-y: -8em;
}


/* Action Bar - Resource Icons */

.bon_resource {
    display: inline-block;
    background-image: url(img/bon_resources.png);
    background-repeat: no-repeat;
    background-position-y: 0;
    background-size: 10.625em 2.5em;
    height: 2.5em;
    width: 2.125em;
    vertical-align: middle;
    margin: 0 .125em;
}
.bon_resource-0 { background-position-x: -8.5em; }
.bon_resource-1 { background-position-x:    0; }
.bon_resource-2 { background-position-x: -2.125em; }
.bon_resource-3 { background-position-x: -4.25em; }
.bon_resource-4 { background-position-x: -6.375em; }


/* Action buttons */

.action-button:has(.bon_button-icon) {
    background: #f0f0d0;
}
.bon_button-icon {
    display: inline-block;
    background-image: url(img/bon_resources.png);
    background-repeat: no-repeat;
    background-position-y: 0;
    background-size: 10.675em 2.5em;
    height: 2.5em;
    width: 2.125em;
    margin-right: .5em;
    vertical-align: middle;
}
#bon_button-icon-1 { background-position-x:    0; }
#bon_button-icon-2 { background-position-x: -2.125em; }
#bon_button-icon-3 { background-position-x: -4.25em; }
#bon_button-icon-4 { background-position-x: -6.375em; }


/* Log Entries */

.bon_log-tile {
    width: 2.166em;
    height: 2.5em;
    display: inline-block;
    background-image: url(img/bon_tiles.png);
    background-repeat: no-repeat;
    background-position-y: 0;
    background-size: 8.665em 2.5em;
    vertical-align: middle;
    margin: 0 .2em;
}
.bon_log-tile-1 { background-position-x:    0; }
.bon_log-tile-2 { background-position-x: -2.166em; }
.bon_log-tile-3 { background-position-x: -4.333em; }
.bon_log-tile-4 { background-position-x: -6.499em; }


/* Solo Game */

#bon_solo-panel {
    display: inline-flex;
    flex-direction: column;
    padding: 1em;
    gap: 0.5em;
    background: rgba(255, 255, 255, .2);
    border-radius: 0.5em;
}

.bon_solo-obj {
    color: #222;
    opacity: .8;
    font-weight: 400;
    display: flex;
    flex-direction: row;
    gap: 0.3em;
}
.bon_solo-obj-met {
    opacity: 1;
    font-weight: 700;
}
.bon_solo-obj-met .bon_solo-obj-status {
    color: #090;
}
.bon_solo-obj-text{
}


/* Hidden cards popup */

#popin_bon_face-down-pile-revealed_contents {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: .5em
}


/* Final Scores */

#bon_final-scores {
    position: fixed;
    width: 30em;
    height: 30em;
    left: 50%;
    top: 20em;
    transform: translate(-50%, -50%);
    background-image: url(img/bon_scorepad.png);
    background-repeat: no-repeat;
    background-size: cover;
    border: solid .2em black;
    box-shadow: .25em .25em .5em rgba(0, 0, 0, 0.3);
    z-index: 1000;
}

#bon_final-scores-table {
    position: relative;
    left: 5.55em;
    top: 1.05em;
    width: 23.25em;
    height: 27.75em;
    display: grid;
    grid-template-rows: 3fr repeat(6, 5fr);
    grid-template-columns: repeat(4, minmax(min(5em, 100%), 1fr));
    gap: 1.125em 0.6em;
    align-items: center;
    justify-items: center;
}

.bon_final-score-header {
    font-weight: 400;
    white-space: nowrap;
    text-overflow: clip;
    overflow: hidden;
    text-align: right;
    font-size: .8em;
    max-width: 100%;
}
.bon_final-score-value {
    opacity: 0;
    font-size: 2em;
}

.bon_final-score-value.bon_winner {
    position: relative;
    width: 100%;
    text-align: center;
}
.bon_final-score-value.bon_winner::after {
    position: absolute;
    content: ' ';
    background-image: url(img/bon_circle.png);
    background-size: 10em 7.8em;
    background-repeat: no-repeat;
    width: 2.5em;
    height: 2.6em;
    top: -0.6em;
    left: 0;
    animation: bon_circle-reveal .3s ease-out forwards;
    background-position: -5em -7.8em;
}
@keyframes bon_circle-reveal {
    100%     { background-position: -7.5em -5.2em; }

    99.999%  { background-position: -5em -5.2em; }
    91%      { background-position: -5em -5.2em; }

    90.999%  { background-position: -2.5em -5.2em; }
    82%      { background-position: -2.5em -5.2em; }

    81.999%  { background-position: 0em  -5.2em; }
    73%      { background-position: 0em  -5.2em; }

    72.999%  { background-position: -7.5em -2.6em; }
    64%      { background-position: -7.5em -2.6em; }

    63.999%  { background-position: -5em -2.6em; }
    55%      { background-position: -5em -2.6em; }

    54.999%  { background-position: -2.5em -2.6em; }
    46%      { background-position: -2.5em -2.6em; }

    45.999%  { background-position: 0em  -2.6em; }
    37%      { background-position: 0em  -2.6em; }

    36.999%  { background-position:  -7.5em 0em; }
    28%      { background-position:  -7.5em 0em; }

    27.999%  { background-position:  -5em 0em; }
    19%      { background-position:  -5em 0em; }

    18.999%  { background-position:  -2.5em 0em; }
    10%      { background-position:  -2.5em 0em; }

    9.999%   { background-position:  0em  0em; }
    0%       { background-position:  0em  0em; }
}


/* Utility */

.bon_hidden {
    visibility: hidden;
}

#bon_last-turn {
    margin-top: .25em;
    background: rgba(255, 127, 0);
    color: #fff;
}


/* Make disabled action buttons a little more obviously disabled */
.action-button.disabled {
    text-decoration: line-through;
    opacity: .5;
}

.action-button {
    position: relative;
}

.action-button:not(.disabled)::after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: ' ';
    background-color: rgba(255, 255, 255, 0);
    transition: background-color 100ms ease-out;
}
.action-button:not(.disabled):hover::after {
    background-color: rgba(255, 255, 255, .1);
}


/* Make the title on the popup dialog look better */
.standard_popin_title {
    margin-top: 0;
}


/* Layout for different screen sizes */

@container (min-width: 64em) {
    #bon_surface {
        display: grid;
        max-width: 68em;
        margin: auto;
        gap: 1em;
        grid-template-areas:
            "goals board"
            "goals player"
            "goals others"
        ;
        grid-template-rows: 12em auto auto;
        grid-template-columns: 1fr minmax(52.5em, 4fr);
    }

    #bon_goals {
        grid-area: goals;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        min-width: 12.5em;
    }

    #bon_board {
        grid-area: board;
    }

    #bon_player {
        grid-area: player;
    }

    #bon_opponents {
        grid-area: others;
    }
}

@container (min-width: 100em) {
    #bon_surface {
        display: grid;
        max-width: 100em;
        gap: 1em;
        grid-template-areas:
            "goals board  others"
            "goals player others"
        ;
        grid-template-rows: 12em auto auto;
        grid-template-columns: 1fr minmax(52.5em, 4fr) 3fr;
    }

    #bon_goals {
        grid-area: goals;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        min-width: 12.5em;
    }

    #bon_board {
        grid-area: board;
    }

    #bon_player {
        grid-area: player;
    }

    .bon_player-name {
        font-size: 1.25rem;
        margin-top: 0;
    }
    
    #bon_opponents {
        grid-area: others;
        font-size: .5em;
    }
}
